


.intro p {
    padding: 5px;
}
.acte-imgI{
    background-image: url('../Images/gif/trains.gif');
}
.acte-imgI{
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1440px;
    height: 415px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    animation: neon 10s infinite linear; /* Ajout de l'animation */
}
.projet {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 72px 5px;
    box-sizing: border-box;
    gap: 116px;
}
.projet-1{
    max-width: 1340px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 49px 43px;
    box-sizing: border-box;
}
.projet-text {
    margin: 5px;
    padding: 5px;
    width: 40%;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.projet-img{
    height: 800px;
    width: 55%;
    border-radius: 40px;
}
.carousel-container{
    width: 55%;
}
.carousel{
    height: 800px;
}
/*===========================================================================================
    ===============================  R  E  S  P  O  N S  I  V  E ========================
==============================================================================================*/
@media only screen and (max-width: 1024px) {
    * {
        margin:0;
        align-items: center;
    }

    /* Intro */
    .intropres {
        width: 80%; /* Réduit la largeur à 15% */
        height: 300px; /* Hauteur réduite */
        margin: 0 auto; /* Centre l'image horizontalement */
    }
    .intro{
        width: 100%;
    }
    .hello-container{
        padding: 5px;
    }
    .projet-1{
        flex-direction: column;
    }
    .projet-text,.projet-img, .carousel-container{
        width: 100%;
    }
    .projet-img,.carousel-container{
        max-height: 500px;
    }
     /* Work */
    .acte-imgI, .acte-imgII, .acte-imgIII {
            width: 80%; /* Réduit la largeur à 15% */
            height: 200px; /* Hauteur réduite */
            margin: 10% auto; /* Centre l'image horizontalement */
            object-fit: cover; /* Maintient la proportion de l'image */
            display: block; /* Assure que l'image soit un élément en bloc */
    }
}